<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtYD22J7GnxzgGLZU8OG5HbrxztBd4dZc</string>
	<key>GCM_SENDER_ID</key>
	<string>461220268090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skyer</string>
	<key>PROJECT_ID</key>
	<string>skyer-d7aa1</string>
	<key>STORAGE_BUCKET</key>
	<string>skyer-d7aa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461220268090:ios:2fa1a225c0345f25184d03</string>
</dict>
</plist>